@model IEnumerable<Product>
@{
    ViewBag.Title = "LIÊN HỆ";
}

<div class="row">
    <div class="col-md-12 col-xs-12 header-bar ">

        <div style="padding-top: 8px">LIÊN HỆ</div>
    </div>

    <div class="col-lg-12">
        <div style="margin-left: 10px; margin-top: 10px;">
            <p>
                <span style="font-size: small;">
                    <span style="font-family: tahoma,arial,helvetica,sans-serif;">
                        <span style="color: rgb(0, 0, 255);">CÔNG TY TNHH SX - TM - DV THI NGUYỄN</span><br>
                        <br>
                        &nbsp;Xưởng cơ khí: A4/37S Đường Liên Ấp 1 - 2 - 3, xã Vĩnh Lộc B, huyện Bình Chánh, tp HCM.<br>
                        <br>
                        &nbsp;<strong>Điện thoại</strong>: <span style="font-size:14px;">08 72 02 22 00&nbsp;</span>&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp;&nbsp; Fax: <span style="font-size:14px;">08 73 04 22 00</span><br>
                        <br>
                        &nbsp;<span style="color: rgb(255, 0, 0);">HOTLINE:</span> <span style="font-size:14px;">0908 221 830.</span><br>
                    </span>
                </span>
            </p>
            <p>
                <span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<strong>Email</strong>: <a href="mailto:thinguyentech@gmail.com">thinguyentech@gmail.com.</a></span></span>
            </p>
        </div>
    </div>
</div>