@model IEnumerable<CategoryViewModel>

    <div class="nn-megamenu-sidebar-title">Danh mục sản phẩm</div>
    <div class="nn-megamenu-sidebar-boder">
        @foreach (var c in Model)
        {
            <div class="nn-block-product-sidebar-name">
                @c.Name
                </div>
                foreach (var i in c.SubCategory)
                {
                <ul>
                    <li>
                        <a href="/Product/Category?CategoryID=@i.Id">
                            @i.Name
                        </a>
                    </li>
                </ul>
                }

                }
            </div>
