@model IEnumerable<Category>
<div class="nn-block">
    <div class="nn-megamenu-sidebar-title"><h2>Danh mục sản phẩm</h2></div>
    @foreach (var c in Model)
    {
        <div class="nn-megamenu-sidebar">
            <ul>
                <li>
                    <a href="/Product/Category?CategoryID=@c.Id">
                        @c.Name
                    </a>
                </li>
            </ul>
        </div>
    }
</div><!--end block category-->