
        <div class="row">
            <div class="col-sm-12">               
                <div class="footer-static-content nn-block-footer">
                    ©@DateTime.Now.Year CÔNG TY TNHH SX-TM-DV KT Thi Nguyễn
                    <br />
                    <div style="padding-left: 5px;">
                        ĐC: A4/37S Đường Liên Ấp 1 - 2 - 3, xã Vĩnh Lộc B, huyện Bình Chánh, tp HCM.
                    </div>
                    <div style="padding-left: 5px;">
                        Email: thinguyentech@gmail.com
                    </div>
                </div>
            </div>
    </div>
