Thumbs.db
*.dll
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
*.stylecop
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
Content/img
