@model IEnumerable<Product>
@{
    ViewBag.Title = "DỊCH VỤ";
}

<div class="row">
    <div class="col-lg-12 header-bar" style="width: 764px;">
        <div style="padding-top: 8px">DỊCH VỤ</div>
    </div>

    <div class="col-lg-12">
        <div style="margin-left: 10px; margin-top: 10px;">
            <h1 style="font-size: 18px; color: #ff0000; text-align: left;">
                <span style="font-size: large;">DỊCH&nbsp; VỤ BẢO HÀNH - BẢO TRÌ VƯỢT TRỘI</span>
            </h1>
            <p style="font-size: 18px; color: #ff0000; text-align: justify;">
                <span style="font-size: small;"><span style="color: rgb(0, 0, 204);"><span style="font-size: medium;">&nbsp;&nbsp;&nbsp; Sản phẩm được cung cấp bởi Thi Nguyễn luôn được bảo hành theo đúng điều kiện của hợp đồng. Trong thời gian bảo hành, sản phẩm được bảo trì, sửa chữa theo yêu cầu của khách hàng. Sau thời gian bảo hành, nếu khách hàng có nhu cầu, </span></span></span><span style="font-size: small;"><span style="color: #0000cc;"><span style="font-size: medium;">Thi Nguyễn</span></span></span><span style="font-size: small;"><span style="color: #0000cc;"><span style="font-size: medium;"> luôn sẵn sàng bảo trì máy, đảm bảo máy móc luôn trong tình trạng hoạt động&nbsp;ổn&nbsp;định, phát huy tối&nbsp;đa hiệu suất. chúng tôi sẽ cung cấp phụ tùng thay thế với giá cả hợp lý; nhân viên kỹ thuật năng&nbsp;động, nhiệt tình, có mặt&nbsp;ở mọi nơi&nbsp;đáp&nbsp;ứng tối&nbsp;đa&nbsp;yêu cầu&nbsp;của quý khách.&nbsp;</span></span></span>
            </p>
            <p style="font-size: 18px; color: #ff0000; text-align: justify;">
                <strong><span style="font-size: large;">DỊCH VỤ SỬA CHỮA&nbsp;TẬN TÂM</span></strong>
            </p>
            <p style="font-size: 18px; color: #ff0000; text-align: justify;">
                <strong><span style="font-size: large;">&nbsp;&nbsp;&nbsp; </span></strong><span style="color: rgb(0, 0, 204);"><span style="font-size: medium;">Khi quý khách có nhu cầu sửa chữa, tân trang máy đột, cắt, chấn, máy công cụ cnc, </span></span><span style="font-size: small;"><span style="color: #0000cc;"><span style="font-size: medium;">Thi Nguyễn</span></span></span><span style="color: #0000cc;"><span style="font-size: medium;"> chính là lựa chọn tin cậy. Chúng tôi đáp ứng ở bất kỳ địa điểm nào khách hàng yêu cầu để máy móc của&nbsp;khách hàng&nbsp;hoạt động tốt nhất.</span></span>
            </p>
            <p style="font-size: 18px; color: #ff0000; text-align: justify;">
                <span style="color: #0000cc;"><span style="font-size: medium;"><span style="color: #ff0000;"><strong><span style="font-size: large;">CUNG CẤP PHỤ KIỆN TIÊU CHUẨN</span></strong></span></span></span>
            </p>
            <p style="text-align: justify;">
                &nbsp;<span style="font-size: medium;"><span style="color: #000099;">&nbsp;&nbsp; Hiện nay, với sự phát triển mạnh mẽ của cơ khí đột dập, gia công, sản xuất kim loại, yêu cầu thay thế phụ kiện theo đó cũng ngày càng&nbsp;cao. Chúng tôi nhận cung cấp các loại phụ kiện đột dập như: khuôn đột, cối đột,.....chất lượng và giá cả phải chăng phù hợp với chi phí của mỗi doanh nghiệp.</span></span>
            </p>
            <p style="text-align: justify;">
                <span style="font-size: medium;"><span style="color: #000099;"><span style="font-size: large;"><span style="color: #ff0000;"><strong>SẢN XUẤT, GIA CÔNG CHÍNH XÁC MỌI MẶT HÀNG</strong></span></span></span></span>
            </p>

            <p style="text-align: justify;">
                <span style="font-size: medium;"><span style="color: #000099;"><span style="font-size: large;"><span style="color: #ff0000;"><span style="font-size: medium;"><span style="color: #3f0df1;">&nbsp; </span></span></span></span></span></span><span style="color:#00f;"><span style="font-size: medium;"><span style="font-size: large;"><span style="font-size: medium;">Quý khách muốn chọn cho mình một&nbsp;đơn vị gia công&nbsp;uy tín, chính xác?&nbsp;Hãy&nbsp;đến với </span></span></span><span style="font-size: small;"><span style="font-size: medium;">Thi Nguyễn</span></span><span style="font-size: medium;"><span style="font-size: large;"><span style="font-size: medium;">. Chúng tôi luôn đảm bảo sản phẩm của quý vị được sản xuất với độ chính xác tối đa, thời gian và tiến độ đúng như chúng tôi cam kết với giá cả cạnh tranh nhất.</span></span></span></span>
            </p>
            <p style="text-align: justify;">
                <span style="color:#00f;"><span style="font-size: medium;"><span style="font-size: large;"><span style="font-size: medium;">&nbsp;&nbsp; Chúng tôi chuyên nhận gia công các mặt hàng từ kim loại tấm như: kệ, khay, tủ, thùng hộp các loại, kích cỡ đa dạng theo yêu cầu của khách hàng đảm bảo yêu cầu kỹ thuật và tính thẩm mỹ cao nhất.</span></span></span></span>
            </p>
        </div>
    </div>
</div>