@model IEnumerable<Product>
@{
    ViewBag.Title = "TIN TỨC-TÀI LIỆU";
}

<div class="row">
    <div class="col-md-12 col-xs-12 header-bar">

        <div style="padding-top: 8px">TIN TỨC-TÀI LIỆU</div>
    </div>
</div>