@model IEnumerable<Product>
@{

    ViewBag.Title = ViewBag.TieuDe;
}

<div>
    <div class="col-lg-12 header-bar" style="width: 747px;">
        <div style="padding-top: 8px">@ViewBag.TieuDe</div>
    </div>

    @foreach (var p in Model)
    {
        <div class="col-md-3 col-sm-6 col-sx-12">
            <div class="nn-product-box">

                <a href="~/Product/Detail/@p.Id">
                    <img id="i@(p.Id)" class="img-responsive" alt="@p.Name" src="~/Content/img/Uploads/@p.Image" style="height: 130px; border: 1px solid;" />
                </a>
                <div class="nn-product-box-descriptions">
                    <a href="Product/Detail/@p.Id" title="@p.Name">
                        @{
                            var name = p.Name.Length > 14 ? p.Name.Substring(0, 13) + " ..." : p.Name;
                        }
                        @name
                    </a>
                </div>
            </div>
        </div>
                            }
</div>
<style>
    .nn-view-detail {
        position: absolute;
        bottom: -40px;
        opacity: 0;
        background-color: black;
    }
</style>
@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                src = $("#i" + pid).attr("src");
                newcssfly = cssfly.replace("?", src);
                $("#cart-fly").html(newcssfly);

                options = { to: "#nn-cart-image", className: "fly-effect" };
                $("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
    <script>
        $("div.nn-product-box").hover(function () {

            $(this).find(".nn-view-detail").stop().animate({ opacity: 0.6, bottom: '0px' });
        }, function () {
            $(this).find(".nn-view-detail").stop().animate({ opacity: 0, bottom: '-40px' });
        });
    </script>
}