@model IEnumerable<Category>
@{
    ViewBag.Title = "Home Page";
}

<div class="nn-home-banner">
    @*<img src="/Content/img/banner/home-banner03.jpg" class="img-responsive" />*@
    <div class="camera_wrap" id="banner">
        <div data-src="/Content/img/banner/home-banner03.jpg"></div>
        <div data-src="/Content/img/banner/img-box3.jpg"></div>
        <div data-src="/Content/img/banner/img-box2.jpg"></div>
    </div>
</div><!--end home banner-->

@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                src = $("#i" + pid).attr("src");
                newcssfly = cssfly.replace("?", src);
                $("#cart-fly").html(newcssfly);

                options = { to: "#nn-cart-image", className: "fly-effect" };
                $("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
}