@model IEnumerable<Product>
@{
    ViewBag.Title = "GIỚI THIỆU";
}

<div class="row">
    <div class="col-md-12 col-xs-12 header-bar">
        
        <div style="padding-top: 8px">Giới thiệu</div>
    </div>

        <div class="col-md-12 col-xs-12">
            <div style="margin-left:10px; margin-top:10px;">
                <p style="text-align: justify;">
                    <span style="font-size: small;"><span style="color: rgb(0, 0, 204);">Công ty TNHH SX-TM-DV Thi Nguyễn hoạt động kết hợp giữa buôn bán máy công cụ đột dập, cắt, chấn kim loại ... và sản xuất gia công các sản phẩm từ kim loại tấm. Sự kết hợp đó đã mang lại cho chúng tôi nhiều kinh nghiệm quý báu trong việc tư vấn cho khách hàng hướng đến những sản phẩm tốt nhất, giá cả cạnh tranh và dịch vụ hậu mãi hoàn hảo. </span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: small;"><span style="color: rgb(0, 0, 204);">&nbsp;Được ứng dụng rộng rãi trong nhiều ngành công nghiệp sản xuất, khách hàng của chúng tôi là các công ty sản xuất thang máy, Sản xuất tủ phòng cháy, Sản xuất và lắp đặt hệ thống thang máng cáp, hệ thống lạnh trong các toà nhà cao tầng, Các công ty thiết bị điện…Trong quá trình kinh doanh, chúng tôi luôn tìm kiếm những đối tác, nhà cung cấp các loại máy CNC vận hành tốt, hiệu suất cao để cung cấp đến khách hàng sản phẩm và dịch vụ giá cả phải chăng, xứng đáng với giá trị đầu tư.</span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: small;"><span style="color: rgb(0, 0, 204);">&nbsp;Uy tín ngay từ bước đầu hoạt động với hệ thống dịch vụ đa dạng,&nbsp; Chúng tôi luôn tâm niệm khách hàng là nhân tố quan trọng nhất góp phần vào sự thành công của mình, Luôn xem quyền lợi của khách hàng là quyền lợi của chính mình để xứng đáng trở thành đối tác, người bạn thân thiết trên bước đường phát triển của mỗi doanh nghiệp.</span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: small;"><span style="color: rgb(0, 0, 204);">Ngành nghề hoạt&nbsp;động của Thi Nguyễn:</span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: x-small;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">BUÔN BÁN, SỬA CHỮA, BẢO TRÌ VÀ LẮP&nbsp;ĐẶT MÁY CNC, ĐỘT, DẬP, CẮT, CHẤN.....</span></span></strong></span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: x-small;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">SẢN XUẤT&nbsp;THANG MÁNG CÁP, VỎ TỦ&nbsp;ĐIỆN&nbsp;VÀ CÁC SẢN PHẨM KHÁC BẰNG KIM LOẠI&nbsp;</span></span></strong></span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: x-small;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">GIA CÔNG ĐỘT LỖ CÁC LOẠI, CẮT, CHẤN TẠO HÌNH KIM LOẠI...</span></span></strong></span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: x-small;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">&nbsp;</span></span></strong></span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: medium;"><span style="color: rgb(0, 0, 204);">Hãy liên hệ ngay với chúng tôi khi quý khách có nhu cầu dù là nhỏ nhất!</span></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: medium;">
                        <strong>
                            <span style="color: rgb(0, 0, 204);">
                                CÔNG TY TNHH SX - TM - DV - KỸ THUẬT <span style="font-size: large;">
                                    <span style="color: rgb(255, 0, 0);">
                                        THI NGUYỄN<br>
                                    </span>
                                </span>
                            </span>
                        </strong>
                    </span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: small;"><strong><span style="color: rgb(0, 0, 204);">Xưởng cơ khí: </span></strong></span><span style="font-family: arial,helvetica,sans-serif;"><strong><span style="color: rgb(255, 0, 0);"><span style="font-size: small;">A4/37S Đường Liên Ấp 1-2-3, xã Vĩnh Lộc B, huyện Bình Chánh, tp HCM.</span></span></strong></span>
                </p>
                <p style="text-align: justify;">
                    <span style="font-size: small;"><strong><span style="color: rgb(0, 0, 204);">Điện thoại: </span></strong></span><strong><span style="color: rgb(0, 0, 255);"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">08 72 02 22 00</span></span></span></strong><span style="font-size: small;"><strong><span style="color: rgb(0, 0, 204);">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Fax: </span></strong></span><strong><span style="color: rgb(0, 0, 255);"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">08 73 04 22 00</span></span></span></strong>
                </p>

                <p style="text-align: justify;">
                    <span style="font-size: small;">
                        <strong>
                            <span style="color: rgb(255, 0, 0);">
                                Hotline: 0908.221.830<br>
                            </span>
                        </strong>
                    </span>
                </p>

                <p style="text-align: justify;">
                    <strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">Email: </span><a href="mailto:info@ducthicnc,com"><span style="color: rgb(0, 0, 204);">info@thinguyentech.com</span></a><span style="color: rgb(0, 0, 204);">&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;&nbsp; </span></span></strong><strong><span style="font-size: small;"><a href="mailto:info@ducthicnc,com"><span style="color: rgb(0, 0, 204);">thinguyentech@gmail.com</span></a></span></strong>
                </p>

                <p style="text-align: justify;">
                    <strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">Website: </span><a href="http://thinguyentech.com"><span style="color: rgb(0, 0, 204);">www.</span></a></span></strong><a href="http://thinguyentech.com"><strong><span style="font-size: small;"><span style="color: rgb(0, 0, 204);">thinguyentech.com</span></span></strong></a>
                </p>
            </div>
        </div>
    </div>
